.form__price {
    @include font(700, 4.4rem, 118%);
    margin-bottom: 7rem;

    span {
        @include font(700, 6rem, 117%);
        padding: 0 0.7rem 0rem 0.7rem ;
        margin-left: -0.7rem;
    }
}

.form__price--color {
    span {
        color: #FFFFFF;
        background: #6CAC3D;
        border-radius: 1rem;
    }
}

@media (max-width: 48em) {
    .form__price {
        @include font(700, 6rem, 117%);
        margin-bottom: 11rem;

        span {
            @include font(700, 10.4rem, 117%);
            padding: 0 0.7rem 0rem 0.7rem ;
            margin-left: -0.7rem;
        }
    }
}