.team__items {
    display: flex;
    margin-bottom: 2.9rem;
}

@media (max-width: 48em) {
    .team__items {
        flex-wrap: wrap;
        margin-bottom: 0;
        gap: 4.4rem 0rem;
        margin-bottom: 8rem;
    }
    
}