.form-send__label {
    @include font(400, 1.4rem, 114%);
    display: flex;
    cursor: pointer;

    &:before {
        content: "";
        display: block;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        background: #FFFFFF;
        border: 0.2rem solid #2D4872;
        flex-shrink: 0;
        cursor: pointer;
        margin-right: 1rem;
    }
}

@media (max-width: 48em) {
    .form-send__label {
        @include font(400, 2.8rem, 114%);

        &:before {
            width: 3.6rem;
            height: 3.6rem;
            margin-right: 1.8rem;
            border: 0.4rem solid #2D4872;
        }
    }
}