.consultation__text {
    @include font(500, 1.6rem, 119%);
    max-width: 57rem;
    margin-right: 12.5rem;
    max-height: 10rem;
    overflow: auto;
}

.consultation__text--color {
    color: #FFFFFF;
}

@media (max-width: 48em) {
    .consultation__text {
        @include font(400, 3.2rem, 119%);
        max-width: 77rem;
        max-height: 40rem;
        margin-right: 0;
        text-align: center;
        margin-bottom: 4.5rem;
    }
    
}