.form__item {
    &:nth-child(2) {
        margin-top: -0.5rem;

        .form__img {
            margin-bottom: 1.5rem;
            margin-left: 0.5rem;
        }
    }
}

@media (max-width: 48em) {
    .form__item {
        &:nth-child(2) {
            margin-top: -2rem;
    
            .form__img {
                margin-bottom: 3rem;
                margin-left: 0.5rem;
            }
        }
        &:nth-child(3) {
            .form__img {
                margin-bottom: 3rem;
            }
        }
        &:nth-child(4) {
            .form__img {
                margin-bottom: 3rem;
            }
        }
    }
}