.form-send__input {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    margin: -0.1rem;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    

    &:checked + .form-send__label::before {
        background-image: radial-gradient(circle at center, #2D4872 0.4rem, transparent 0.5rem);

    }
}

@media (max-width: 48em) {
    .form-send__input {
        &:checked + .form-send__label::before {
            background-image: radial-gradient(circle at center, #2D4872 0.8rem, transparent 1rem);
    
        }
    }
}