.channel-mobile {
  display: none;
}

.channel-mobile .swiper-slide {
    opacity: 0.4;
  }

  .channel-mobile .swiper-slide-thumb-active {
    opacity: 1;
  }

  .channel-mobile {
    box-sizing: border-box;
    padding: 2.5rem 0;
    margin-top: -55rem;
  }

@media (max-width: 48em) {
    .channel-mobile {
      display: block;
    }
}