.price__text {
    @include font(700, 1.4rem, 114%);
    margin-bottom: 0.9rem;

    &:nth-of-type(2n) {
        margin-top: 2.8rem;
    }
}

@media (max-width: 48em) {
    .price__text {
        @include font(700, 2.8rem, 114%);
        margin-bottom: 2rem;
        &:nth-of-type(2n) {
            margin-top: 16.5rem;
        }
    }
}