.footer-info__link {
    @include font(700, 1.3rem, 115%);
}

.footer-info__link--color {
    text-transform: uppercase;
    color: #FFFFFF;

    &:hover {
        color: #FFFFFF;
    }
}

@media (min-width: 48em) {
    .footer-info__link--color:hover {
        color: #FFFFFF;
        text-decoration: underline;
    }
}

@media (max-width: 48em) {
    .footer-info__link {
        @include font(700, 2.6rem, 115%);
    }
}