.header-tel--wrap {
    margin-right: -1rem;
}

.header-tel__phone {
    display: flex;
    margin-bottom: 0.5rem;
}

.header-tel__img {
    width: 1.7rem;
    height: 1.7rem;
    flex-shrink: 0;
    margin-top: 0.4rem;
    margin-right: 0.5rem;
}

.header-tel__text {
    @include font(700, 1.8rem, 117%);
}

.header-tel__info {
    @include font(400, 1.4rem, 115%);
}

@media (min-width: 48em) {
    .header-tel__text:hover {
        text-decoration: underline;
    }
}

@media (max-width: 48em) {
    .header__info {
        .header-tel {
            display: none;
        }
    }

    .header-tel{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-tel__img {
        width: 3.4rem;
        height: 3.4rem;
        flex-shrink: 0;
        margin-top: 0.4rem;
        margin-right: 1rem;
    }

    .header-tel__text {
        @include font(700, 3.6rem, 117%);
    }
    
    .header-tel__info {
        @include font(400, 2.8rem, 115%);
    }

}