.price__title {
    @include font(700, 1.8rem, 117%);

    span {
        display: block;
        @include font(700, 1.4rem, 114%);
    }
}

.price__title--color {
    color: #6CAC3D;
    text-transform: uppercase;

    span {
        color: #171616;
        text-transform: lowercase;
    }
}

@media (max-width: 48em) {
    .price__title {
        @include font(700, 3.6rem, 117%);
    
        span {
            display: block;
            @include font(700, 2.8rem, 114%);
        }
    }
}